<f:layout name="Default" />

<f:section name="Title">Edit Task</f:section>

<f:section name="Content">
	<div style="width: 33%;">
		<div style="width: 100%; padding: 10px 10px; background-color:rgb(248, 248, 248);">
			Created on: <b>{task.date -> f:format.date(format: 'Y-m-d')}</b>
		</div>
		<f:render partial="Spacer"/>
		<div style="width: 100%; padding: 10px 10px; background-color:rgb(248, 248, 248);">
			Status: <b>{task.state}</b>
		</div>
		<f:render partial="Spacer"/>
		<f:form action="update" object="{task}" objectName="task" style="display: inline;">
			<div style="width: 100%;">
				<f:render partial="Form\TaskDescription" arguments="{task: task}"/>
				<f:render partial="Spacer"/>
				<div style="width: 100%; padding: 10px; background-color: rgb(190, 190, 190);">
					<b>Change Status to:</b>
				</div>
				<div style="width: 100%; padding: 10px; background-color: rgb(248, 248, 248);">
					<div style="margin-left: 15px;">
						<label>
							<f:form.radio property="state" value="{task.state}" checked="checked" /> Current
						</label>
					</div>
					<div style="margin-left: 15px;">
						<label>
							<f:if condition="{task.state} == 'Active'">
								<f:then>
									<f:form.radio property="state" value="Completed" /> Completed
								</f:then>
								<f:else>
									<f:form.radio property="state" value="Active" /> Active
								</f:else>
							</f:if>
						</label>
					</div>
				</div>
				<f:render partial="Spacer"/>
				<div style="padding: 10px; width: 100%; background-color:lightgreen;">
					<f:render partial="Buttons\UpdateTask" arguments="{task: task}"/>
					<f:render partial="Buttons\GoHome"/>
				</div>
			</div>
		</f:form>
		<f:render partial="Buttons\DeleteTask" arguments="{task: task}"/>
		<f:render partial="ShowErrors" arguments="{for: 'task'}" />
	</div>
</f:section>
