<f:layout name="Default" />

<f:section name="Title">Task List</f:section>

<f:section name="Content">
	<div style="width: 50%;">
		<f:render partial="Buttons\NewTask"/>
		<f:if condition="{tasks}">
		<f:then>
			<div style="width: 100%; padding: 10px; background-color:rgb(240, 240, 240);">
			<table style="width: 100%; border-width: 2px; text-align: center; vertical-align: middle; border-color: rgb(20, 240, 240);">
				<tr style="background-color:rgb(190, 190, 190);">
					<th style="width:  auto; padding: 10px;">Description</th>
					<th style="width: 100px; padding: 10px;">Status</th>
					<th style="width: 240px; padding: 10px;">Operations</th>
				</tr>
				<f:for each="{tasks}" as="task">
					<tr style="background-color:rgb(248, 248, 248);">
						<td style="padding: 10px;">{task.description}</td>
						<td style="padding: 10px;">{task.state}</td>
						<td style="padding: 10px;">
							<f:form style="display: inline;" action="home" object="{task}" objectName="task">
								<f:render partial="Buttons\ShowTask" arguments="{task: task}"/>
								<f:render partial="Buttons\EditTask" arguments="{task: task}"/>
								<f:render partial="Buttons\ChangeStatus" arguments="{task: task}"/>
							</f:form>
						</td>
					</tr>
				</f:for>
			</table>
			</div>
		</f:then>
		<f:else>
			<div style="width: 100%; padding: 10px; background-color:rgb(240, 240, 240);">
				No tasks created yet.
			</div>
		</f:else>
		</f:if>
	</div>
</f:section>
